APP_DEBUG=true
SESSION_SAVE_PATH=

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASS=
DB_NAME=web_test

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_ENCRYPTION=smtps
MAIL_FROM_ADDRESS=your_email@gmail.com
MAIL_FROM_NAME="He Thong So Sanh Gia"

PYTHON_BIN=python
BOT_ALLOW_WEB_RUN=true
CHROME_VERSION_MAIN=147
CHROME_PROFILE_PATH=
